body {
  margin: 0;
  background-color: black;
  color: white;
}

a {color: white;}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  position: fixed;
  background-color: rgb(91,153,213,1);
  height: 100%;
  overflow: auto;
  border-right: 2px solid white;
}

ul.sidenav li {
  border-bottom: 2px solid white;
}

ul.sidenav li a {
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul.sidenav li a.active {
  background-color: rgb(112,173,71,1);
  color: white;
}

div.content {
  margin-left: 15%;
  padding: 1px 16px;
  text-align: center;
}

div.content p {
  font-size: 20px;
}

div.content #title {
  font-style: italic;
}

.caption {
  font-style: italic;
}

#skill_tree {
  width: 80%;
}

@media screen and (max-width: 880px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 5px;
  }

  ul.sidenav li {
    border-bottom: 0;
  }

  ul.sidenav li a {
    float: left;
    display: list-item;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  div.content {
    margin-left: 0;
  }

  #skill_tree {
    width: 100%;
  }
}
